.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #fff;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    background-color: hsl(187, 85%, 43%);
    color:white;
    font-weight: 500;
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .registerLink {
    margin-top: 20px;
    text-align: center;
  }
  
  .registerLink p {
    margin-bottom: 10px;
  }

  body{
    background-color: hsl(187, 85%, 43%);
  }